@model ProjeX.Areas.Admin.Models.RoleUpdateViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rol Güncelleme Ekranı</h1>

<form method="post">
    <input type="hidden" asp-for="RoleID"/>
    <label>Rol Adını Giriniz</label>
    <input type="text" class="form-control" asp-for="RoleName" />
    <br />
    <button class="btn btn-outline-success">Kaydet</button>
</form>